<h1>Nuestros gatos</h1>
    <section>
        <table border="1">
            <thead>
                <tr>
                    <th>Numero</th>
                    <th>Foto</th>
                    <th>Nombre</th>
                    <th>Fecha de nacimiento</th>
                    <th>Raza</th>
                    <th>Carácter</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><img src="/src/fotos/cat1.jpg" alt="Gato 1" width="100"></td>
                    <td>Gatito</td>
                    <td>01.03.2020</td>
                    <td>Siamés</td>
                    <td>Dormilón</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><img src="/src/fotos/cat2.jpg" alt="Gato 2" width="100"></td>
                    <td>Lena</td>
                    <td>15.07.2019</td>
                    <td>Persa</td>
                    <td>Travieso</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><img src="/src/fotos/cat3.jpg" alt="Gato 3" width="100"></td>
                    <td>Felix</td>
                    <td>10.11.2021</td>
                    <td>Maine Coon</td>
                    <td>Perezoso</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><img src="/src/fotos/cat4.jpg" alt="Gato 4" width="100"></td>
                    <td>Luna</td>
                    <td>05.06.2018</td>
                    <td>Británico de pelo corto</td>
                    <td>Inteligente</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><img src="/src/fotos/cat5.jpg" alt="Gato 5" width="100"></td>
                    <td>Simba</td>
                    <td>21.09.2022</td>
                    <td>Ragdoll</td>
                    <td>Sociable</td>
                </tr>
            </tbody>
        </table>
    </section>
