<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tarea3</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Página principal</a></li>
          <li><a href="/tabla">Nuestros gatos</a></li>
          <li><a href="/donde">Dónde estamos</a></li>
          <li><a href="/formulario">Formulario</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer>
      <p>&copy; 2025 Gatos en adopción</p>
  </footer>
</body>
</html>
